.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .homeContainer {
    display: flex;
    flex: 1;
  }
  
  header {
    width: 100%;
  }
  
  .sidebar {
    flex: 0 0 200px; /* Adjust the width of the sidebar as needed */
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .widgets,
  .charts {
    flex: 1;
  }
  
  .widgets {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .charts {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  